.hours-container {
    border: 1px solid gray;
    border-radius: 5px;
    display: flex;
    max-height: 45px;
}

.hours-minus {
    padding: 10px 15px;
    background-color: dodgerblue;
    color: white;
    font-size: 16px;
}

.hours-number {
    padding: 10px 25px;
}

.hours-title {
    font-size: 14px;
    width: 45px;
    margin-right: 15px;
}

.hours-plus {
    padding: 10px 15px;
    background-color: dodgerblue;
    color: white;
    font-size: 16px;
}