.date-container {
    border: 1px solid grey;
    display: flex;
    align-items: center;
    border-radius: 5px;
    max-height: 50px;
}

.date-days {
    font-size: 18px;
    color: grey;
    padding: 10px;
}

.date-text {
    background-color: grey;
    color: white;
    padding: 12px;
}